/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
* {
    z-index: 1;
    box-sizing: border-box;
}
:root{

    /* Fonts */
    font-family: 'Roboto Mono', monospace;
    --title-font: Roboto Mono; 

    font-size: 100%;
    --small-font: 0.5rem;
    --normal-font: 1rem;
    --large-font: 3rem;

    /* Colors */

    --text-color: rgba(233, 253, 255, 1);
    --primary-color: rgba(9, 219, 245, 1);
    --secondary-color: rgba(66, 161, 198, 1);
    --action-color: rgba(137, 248, 167, 1);
    --neutral-color: rgba(230, 244, 241, 1);

}
body {
    width: 500px;
    height: 2000px;
    overflow: hidden;
    padding: 1vw;
    background-color: var(--secondary-color);
}

.front-page {
    /* border: solid 2px var(--action-color); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--title-font);
}

#headline {
    /* border: solid 2px var(--action-color); */
    text-align: center;
    color: var(--text-color);
    font-size: var(--large-font);
    
}

.auto-generator {
    /* border: solid 2px var(--action-color); */
    font-size: var(--normal-font);

}

/* ----------------------- Visual Reresentation of Array to be Sorted ------------------------- */
.visual-rep{
    border: solid 2px var(--action-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#arr-container{
    /* border: solid 2px var(--action-color); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
}

/*------------------------- Bubbles Background Animations ------------------------*/
.bubbles {
    position: absolute;
    bottom: 0;
    z-index: 0;
    margin-right: 50px;
    background-color: white;
    box-shadow: var(--primary-color) 10px 0px 38px, var(--neutral-color) 0px 0px 12px;
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 4s infinite;
  }

.bubble-1 {
    left: 1vw;
    animation: up 8s infinite;
}
.bubble-2 {
    left: 45vw;
    animation: up 4s infinite;
}

.bubble-3 {
    left: 90vw;
    opacity: .30;
    animation: up 5.2s infinite;
}

.bubble-4 {
    left: 15vw;
    animation: up 8s infinite;
}

.bubble-5 {
    left: 30vw;
    animation: up 5.4s infinite;
}

.bubble-6 {
    left: 700vw;
    opacity: .30;
    animation: up 3.7s infinite;
}

.bubble-7 {
    left: 10vw;
    animation: up 4.3s infinite;
}

.bubble-8 {
    left: 80vw;
    opacity: .30;
    animation: up 5s infinite;
}

.bubble-9 {
    left: 20vw;
    opacity: .30;
    animation: up 5.4s infinite;
}

.bubble-10 {
    left: 60vw;
    opacity: .30;
    animation: up 3.9s infinite;
}


/* Bubbles Animation */
@keyframes up {
    100%{
        transform: translateY(-700px);

    }
}
/* Array bounce animation */

@keyframes swap-right {
    0% {
        transform: translateY(0px);
        
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateX(1.5rem);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes swap-left {
    0% {
        transform: translateY(0px);
        
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateX(-1.5rem);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* Animation when computer is comparing values */

@media only screen and (min-width: 600px) {
    body {
      width: 100%;
      height: auto;
    }
  }
